body {  
padding-top: 70px;  padding-bottom: 30px;
}

#file {
	background:none;
	color:write;
	border:none;
}

.btn-primary {
	width:200px;	
	height:50px;
}
#btnSave {
	margin-left:350px;
}